<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form action="/todo" method="POST">
		<h1>Add new task</h1>
		<section><label for="task">Task name</label>
			<input type="text" name="task" id="task">
		</section>
		<section>
			<label for="description">Task description</label><br>
			<textarea name="description" id="description" cols="30" rows="5"></textarea>
		</section>
		<button>Add</button>
	</form>
</body>

</html>