<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>List of things to tackle</h1>
	<ul>
		<% for (let item of todo) { %>
			<li>
				<section>
					<h2>
						<%= item.task %>
					</h2>
					<p>- <%= item.description %>
					</p>
				</section>
			</li>
			<% } %>
	</ul>
</body>

</html>